/* --------- Sessão 1 -------------*/
.sessao-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: url(../assets/fundo-s1.png);
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    bottom: 0;
    left: 0;

}

.sessao-1 .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0px;
}

.headline{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

h3{
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

h1{
    line-height: 50px;
    font-weight: 500;
    color: #004D3D;
}

.destaque{
    background-color: #004D3D;
    padding: 0px 5px ;
    color: white;
}

.btt{
    width: 200px;
    padding: 10px 30px;
    color: #FFF6E7;
    border-radius: 8px;
    background-color: #004D3D;
}

/* --------- Sessão 2 -------------*/


.sessao-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.sessao-2 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    width: 100%;
}

.info-s2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
}





