/* -------------- CADASTRO -------------- */
.sessao-form .container {
    width: 90%;
    align-items: center;
    justify-content: center;

}

.cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vw;
}

.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 550px;
}


.sessao-form .logo {
    width: 80%;
    margin-left: 50px;
}

.sessao-form .logo img {
    width: 125px;
    margin-top: 15px;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.formulario span {
    font-size: 15px;
    font-weight: 800;
}

.formulario input {
    border: none;
    height: 40px;
    border-radius: 10px;
    padding: 10px;

    background: #EBEBEB;
    border-radius: 10px;
}

.dtn-sexo,
.senha-confirma, .email_nome {
    display: flex;
    justify-content: space-between;
    width: 400px;
}


select {
    border: none;
    height: 40px;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    background: #EBEBEB;
    border-radius: 10px;
}

.inpPequeno {
    width: 195px;
}

.btn-form {
    color: white;
    background-color: #004D3D;
    width: 400px;
}

#msgSenha {
    font-size: 12px;
    text-align: left;
    width: 400px;
    margin-top: -15px;
}

#msgConta {
    font-size: 16px;
    margin-top: -15px;
}


#msgConta span a {
    text-decoration: none;
    color: #004D3D;
}

.email_nome input{
    width: 190px;
}

/* -------------- Login -------------- */
.login {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vw;
}

.campoLogin {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
}



/* --------- RECEITAS ----------- */
.form {
    display: flex;
    align-items: center;
    justify-content: center;
}


#mostrarIngredientes {
    background: #EBEBEB;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ingredientes{
    padding: 2px 6px;
    height: 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.ingredientes button{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 99, 99);
    color: white;
}

.ingredientes button:active {
    color: white;
    transform: translateY(0.2rem);
    border: 1px solid white;
   }
   
   .ingredientes button:hover:not(:disabled) {
    background: #f04a4a;
    color: white;
    transform: scale(1.1);
    border: 1px solid white;
   }
   
   .ingredientes button:disabled {
    cursor: auto;
    color: grey;
   }


.cadastro-receitas {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.cadastro-receitas .campo textarea {
    background: #EBEBEB;
    border-radius: 10px;
    padding: 20px;
}

.cadastro-receitas .campo {
    width: 400px;
}

.row-ingredientes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.row-ingredientes input{
    width: 340px;
}   

.row-ingredientes button{
    width: 50px;
    font-size: 20px;
    background-color: #004D3D;
    color: white;
    border-radius: 10px;
    transition: 0.1s;
}

.cadastro-receitas .formulario{
    margin-bottom: 30px;
}

