/* ----------------Sessão 1------------------------ */
.sessao-1 {
    background-image: url(../assets/banner-s1.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;

    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.sessao-1 .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sessao-1 h1 {
    font-size: 3em;
    color: #fff;
    font-weight: 300;
    text-align: left;
    line-height: 50px;

}

.sessao-1 h1 span {
    font-weight: 700;
}

.btn-cadastrar {
    width: 10em;
}

/* ----------------Sessão 2------------------------ */
.sessao-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-2 .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0px;
    width: 100%;

}

.card-s2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 340px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: 0.6s;
    padding: 10px;
}

.card-s2:hover {
    transform: scale(1.1)
}

.card-s2 img {
    width: 80px;
}

/* ----------------Sessão 3------------------------ */
.sessao-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/imgs/banner-s3.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}


.sessao-3 .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0px;
    width: 100%;

}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #fff;

}

/* ----------------Sessão 4------------------------ */
.sessao-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.sessao-4 .content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 80px 0px;
    width: 100%;
}

.sessao-4 img {
    width: 400px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sessao-4 h1 {
    color: black;
    text-align: left;
}

.sessao-4 span {
    color: #004D3D;
    font-weight: 700;
}

.sessao-4 p {
    font-size: 18px;
}

/* ----------------Sessão 5------------------------ */
.sessao-5 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.sessao-5 .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 0px;
    width: 100%;
}

.principais-causas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.card-S5{
    position: relative;
    cursor: pointer;
}

.card-S5 .face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    transition: 0.5;
    z-index: 1;

} 

.card-S5 .face.face1{
    z-index: 2;
    margin-top: -50px;
    transform: translateY(100px);
    background: rgb(224, 236, 209);
    border-radius: 8px;
    width: 300px;
    height: 250px;
    transition: 0.8s;
    display: flex;
    
   
}

.card-S5:hover .face.face1{
    border-end-end-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 50px;
    background-color: #004D3D;
    transform: translateY(0);
    padding-bottom: -100px;
}

.card-S5 .face.face1 h2{
    transition: 0.8s;
}

.card-S5:hover .face.face1 h2{
    margin-bottom: -70px;
    color: #fff;
}


.card-S5 .face.face2{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: -125px;
    background: rgb(224, 236, 209);
    transform: translateY(-100px);
    width: 300px;
    height: auto;
    font-size: 14px;
    text-align: center;
}

.card-S5 .face.face2 p{
    font-size: 14px;
}


.card-S5:hover .face.face2{
    position: relative;
    background: #004D3D;
    color: #fff;
    transform: translateY(0);
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: -500px;
    display: flex;

}


 .sessao-5 h1{
    color: #004D3D;
    margin-bottom: 20px;
}

.sessao-5 img{
    width: 150px;
}

.sessao-5 h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
}

.circulo{
    background-color: white;
    border-radius: 100%;
}


/* ----------------Sessão 6------------------------ */
.sessao-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.sessao-6 .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 80px 0px;
    width: 100%;
    gap: 20px;
}

.sessao-6 h1{
    color: #004D3D;
}

.dietas{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    

}

.box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;

}

.box h2{
    text-align: center;
    font-size: 20px;
    color: #004D3D;
}

.box p{
    text-align: center;
    font-size: 16px;

}

.sessao-6 img{
    width: 200px;
}

/* ----------------Sessão 7------------------------ */
.sessao-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/imgs/fundo-s5.png);
}


.sessao-7 .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 80px 0px;
    width: 100%;
    gap: 20px;
}

/* ----------------Sessão 8------------------------ */
.sessao-8 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.sessao-8 .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 0px;
    width: 100%;
    gap: 20px;
}

.sessao-8 .text h1{
    color: #004D3D;
    text-align: left;
}

.sessao-8 img {
    width: 400px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sessao-8 span {
    color: #004D3D;
    font-weight: 700;
}
