@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar{
  width: 15px;
 }

 ::-webkit-scrollbar-track{
    background-color: #dfdfdf;
 }
 
 ::-webkit-scrollbar-thumb{
  background-color: #004D3D;
  border-radius: 8px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

.container {
  display: flex;
  margin: auto;
  width: 80%;
}

.btn_sair{
  background-color: white;
  color: #004D3D;
  width: 5rem;
  height: 2.5rem;
}

button{
  padding: 8px;
  background-color: #004D3D;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  /* width: 5em; */
  transition: 0.6s;
}

button:active {
  color: #86B649;
  transform: translateY(0.2rem);
  border: 1px solid white;
 }
 
 button:hover:not(:disabled) {
  background: #86B649;
  color: white;
  transform: scale(1.1);
  border: 1px solid white;
 }
 
 button:disabled {
  cursor: auto;
  color: grey;
 }

/* ------------ HEADER ------------ */
header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}


header {
  width: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  transition: 0.6s;
  background-color: transparent;
}


nav {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0px 10px;
}

header img {
  width: 100px;
}

header ul {
  display: flex;
  align-self: center;
  list-style: none;
}

header ul li {
  margin: 0px 20px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

.user {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}



/* ---------------------------- PÁGINA VEGETARIANISMO------------------------------------------ */
/* Sessão 1 - banner inicial */
.banner-inicial {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#fundo-banner-veg{
    background-image: url(../assets/imgs/fundo-s3.png);
    background-color: rgba(0, 0, 0, 0.699);
    background-blend-mode: multiply;
  }
  
  .banner-inicial h1 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }
  
  .banner-inicial .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  
  
  /* Sessão 2 - banner inicial */
  .sessao-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  .sessao-2 .content{
    display: flex;
    gap: 50px;
    margin: 70px 0px;
  }
  
  
  .sessao-2 .content .info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 80px 0px;
    gap: 50px;
  }
  
  .indice {
    display: flex;
    flex-direction: column;
    width: 20vw;
  }
  
  
  .btt_indice {
    background-color: #fff;
    height: 50px;
    width: 270px;
    margin-bottom: 2px;
    border-radius: 3px;
    border: 2px solid #004D3D;
    color: #004D3D ;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    padding-left: 30px;
    cursor: pointer;
  }
  
  .btt_indice:hover{
      background-color: #004D3D;
      color: #fff;
  }
  
  #conteudo_veg{
    display: flex;
    flex-direction: column;
    width: 60vw;
  }

  #conteudo_veg p{
    text-align: justify;
    line-height: 40px;
    text-indent: 30px;
   }
  
  
  .titulo_conteudo{
    margin-bottom: 10px;
  }


  /* ---------------------------- PÁGINA CALCULADORA------------------------------------------ */
  #fundo-banner-calculadora{
    background-image: url(../assets/imgs/banner-proteinas.png);
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.855);
    background-blend-mode: multiply;
    gap: 10px;
  }

  .banner-inicial h3{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
  }

  .calculo .container .content {
    display: flex;
    gap: 70px;
    margin: 80px 0px;
    width: 100%;
  }

  .calculo .container .content .formulario{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .calculo .container .content .formulario .campo input{
    height: 50px;
    font-size: 16px;

  }

  .row_form{
    display: flex;
    align-items: center;
    gap:  30px;
    width: 410px;
    justify-content: space-between;
  }

  .row_form input{
    width: 180px;
  }

  .row_form select{
    width: 200px;
    height: 50px;
    font-size: 16px;
  }

  .altura{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .altura input{
    width: 50px;
  }

  .peso{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .peso input{
    width: 170px;
  }

  #select_atividade{
    width: 410px;
    height: 50px;
    font-size: 16px;
  }

button{
    width: 410px;
    height: 50px;
  }


  .dec-calc{
    display: flex;
    flex-direction: column;
  }

#msgResultado{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
  }

  #msgResultado p{
    text-align: justify;
    font-size: 18px;
  }

  #msgResultado ul {
    text-decoration: none;
    list-style: none;
    line-height: 30px;
 }


  #msgResultado ul li span{
     font-weight: 600;
  }

  #msgResultado ul{
    margin-left: 30px;
  }

  .destaque{
    font-weight: 600;
  }

  .alimentos{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .alimentos .content{
    width: 100%;
  }

  .titulos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mostrar_alimentos{
    max-width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .box-alimentos img{
    width: 90px;
    height: 90px;
  }

  .titulo_alimento{
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
  }

  .box-alimentos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(224, 236, 209);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.321);
    width: 335px;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.6s;
    margin-bottom: 15px;

  }

  .box-alimentos:hover{
    background-color: #004D3D;
    color: white;
    transform: scale(1.1)
    
  }

.desc-calc h4{
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

#alimentos{
  margin-bottom: 30px;
}

#verAlimentos{
  width: 150px;
  background-color: #86B649;
}


/* ---------------------------- PÁGINA RECEITAS ------------------------------------------ */
#fundo-banner-receitas{
  background-image: url(../assets/imgs/banner-receitas.png);
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.699);
  background-blend-mode: multiply;
  gap: 10px;
}

#btn_buscar{
  height: 100%;
  width: 150px;
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

#icon_pesquisa{
  color: #004D3D;
  height: 100%;
  width: 20px;
  margin: 10px;
  margin-left: 30px;
}

.pesquisar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  gap: -10px;
  background-color: white;
  border-radius: 12px;
  gap: 20px;
}

.pesquisar input{
  height: 100%;
  width: 500px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
}


.receitas{
  display: flex;
  align-items: center;
  width: 100%;
}

.receitas .content{
  margin: 40px 0px;
}

#cards{
  display: flex;
  width: 100%;
  gap: 20px;
  align-self: center;
}

.box_receitas img{
  width: 100%;
  height: 150px;
}

.box_receitas{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  gap: 10px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.452);
  padding: 15px;
  border-radius: 8px;
  transition: 0.4s;
}

.titulo_receita{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detalhes_receitas{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.btt_cards{
  display: flex;
  width: 100%;
  align-items: center;
}

.btt_cards button{  
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

/* -------------------------------- VISUALIZAR RECEITAS ----------------------------------- */
#header_visualizar_receita{
  background-color: #004D3D;
}

.visualizar_receita{
  display: flex;
  align-items: center;


}

.visualizar_receita .content{
  display: flex;
  align-items: center;
  margin: 80px;
  width: 100%;
}

#img_receita img{
  width: 400px;
  height: 400px;
}

.receita-visualizada{
  display: flex;
  width: 100%;
  gap: 30px;
}

.info-receita{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 50%;
}

.info-receita .campo{
  font-weight: 700;
}

.campo h2{
  width: 100%;  
}




