
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

.container{
  display: flex;
  margin: auto;
  width: 80%;
}

/* ------------------- HEADER ---------------------------- */
header .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


header{
  width: 100%;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s;
}

header.sticky{
  background-color: white;
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header.sticky a {
  color: #004D3D;
}

header.sticky .btn-entrar{
  color: #fff;
  background-color: #004D3D;
  border-radius: 8px;
 
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

header img{
    width: 100px;
}

header ul{
  list-style: none;
}   

header ul li {
  display: inline-block;
  margin: 0px 20px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

button{
  padding: 8px;
  background-color: #fff;
  color: #004D3D;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  width: 5em;
  transition: 0.6s;
}

button:active {
  color: white;
  transform: translateY(0.2rem);
  border: 1px solid white;
 }
 
 button:hover:not(:disabled) {
  background: #004D3D;
  color: white;
  transform: scale(1.1);
  border: 1px solid white;
 }
 
 button:disabled {
  cursor: auto;
  color: grey;
 }


 /* ------------------- HEADER ---------------------------- */
 footer{
    background-color: #004D3D;
 }

footer h1{
    font-size: 18px;
    font-weight: 400;
 }